///  Bear Tangram 

.bear {
    .big-triangle-1 {
        transform: translate(85%, 5%);
    }
    
    .big-triangle-2 {
        transform: rotate(45deg) translate(-7%, -56.5%);
    }
    
    .small-square {
        transform: rotate(45deg) translate(-56.5%, 43%);
    }
    
    .small-triangle-1 {
        transform: rotate(-45deg) translate(22%, 113.5%);
    }
    
    .small-triangle-2 {
        transform: rotate(-135deg) translate(56.4%, -42.7%);
    }
    
    .medium-triangle {
        transform: rotate(180deg) translate(-14.5%, 45%);
    }
    
    .parallelogram {
        transform: rotateY(180deg) rotate(-45deg) translate(-28%, 28.5%);
    }
}