/* Transformation en girafe */
.girafe {
  .big-triangle-1 {
    transform: translate(0.5%, 108%) rotate(180deg);
  }
  .big-triangle-2 {
    transform: translate(-48.9%, 109%) rotate(-90deg);
  }
  .medium-triangle {
    transform: translate(100%, -69%) rotate(-180deg);
  }
  .small-triangle-1{
    transform: translate(0.5%, 10%) rotate(90deg);
  }
  .small-triangle-2 {
    transform: translate(25.5%, 84%) rotate(180deg);
  }
  .small-square {
    transform: translate(25.2%, 83.7%);
  }
  .parallelogram {
    transform: translate(0.3%, 9.4%);
  }
}