/* ============================================================================
   Header
     ============================================================================ */

header {
   max-width: 1200px;
   margin: 0 auto;
   text-align:center;
   @include media-min('small'){
      text-align:left;
   }
   .logo {
      height:100px;
      padding:5px;
      @include media-between("medium", "large") {
         height:70px;
      }
      &:hover {
         cursor: pointer;
      }
   }
   .silhouette-tangram {
      height:60px;
      margin:20px;
      @include media-between("medium", "large") {
         height:40px;
         margin:0px 20px;
      }
      @include media-min("medium"){
            margin:0px 20px;
      }
   }
   .models {
      padding-left: 0px;
      display: block;
      text-align: center;
      position: fixed;
      width: 100%;
      bottom: 0;
      li {
         display: inline-block;
         width: 30%;
         z-index:1;
      }
      
      @include media-min('small'){
         display: flex;
         text-align:left;
         width:auto;
         position:initial;
         li {
            cursor: pointer; 
            width:100%;
         }
      }
   }
}

h1{
   display:none;
}