 /* ============================================================================
    Header
     ============================================================================ */

header {
   max-width: 1200px;
   margin: 0 auto;
   .models {
      display: flex;
      // justify-content: space-between;
      gap: 1rem;
      list-style-type: none;
      li {
         cursor: pointer; 
      }
   }
}

h1{
   display:none;
}

header .logo {
   height:100px;
   padding:5px;
}

header .silhouette-tangram {
   height:60px;
   margin:20px;
}

