/// Sea lion Tangram

.otarie {
    .big-triangle-1 {
      transform-origin: 25% 50%;
      transform: rotate(160deg) translate(0,0);
    }
    
    .big-triangle-2 {
      transform-origin: 50% 75%;
      transform: rotate(205deg) translate(-48px, 48px);
    }
    
    .small-square {
      transform: translate(-81px, -57px) rotate(-20deg) ;
    }
    
    .small-triangle-1 {
      transform-origin: 25% 12.5%;
      transform: translate(-49px, 44px) rotate(-110deg) ;
    }
    
    .small-triangle-2 {
      transform-origin: 67.5% 50%;
      transform: translate(142px, -6px) rotate(-110deg);
    }
    
    .medium-triangle {
      transform-origin: 75% 12.5%;
      transform: translate(-194px, -109px) rotate(-20deg);
    }
    
    .parallelogram {
      transform-origin: 87.5% 62.5%;
      transform: translate(-247px, -28px) rotateY(180deg) rotate(20deg);
    }
  }